@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* event */
.event{height: 100vh;background-color: antiquewhite;}
.event_text{font-family: 'BookkMyungjo-Bd';}

ul li{}

.event_content li:nth-child(1){font-size: 25px;}
.event_content li:nth-child(2){font-size: 50px;}
.event_content li:nth-child(3){color: aliceblue;}


.dragon1{top: 0;right: 0;}
.dragon2{bottom: 0;right: 100px;}
.dragon3{top: 100px;left: 100px;}

.menu{display: flex;width: 800px;margin: 0 auto;}
.menu li{width: 200px;height: 200px;border: 1px solid;}


/* banner */

/* .cloud1{margin: 200px 0 100px 200px;} */
.cloud1{padding: 200px 0 100px 200px;}



/* cc */
.cc{height: 100vh;background-color: aliceblue;}